.form-control {
    display: none;
    width: 100px;
}

#choice1,#choice2{
    display: block;
}

.mybox{
    position: relative;
    height:10px;
    background-color: green;
    border: none;
    border-radius: 10px;
}
.mt-3, .my-3 {
    margin-top: 0.8rem!important;
}